.delete-btn{
	width: 60%;
}
li{
	position: relative;
}
@media screen and (max-width: 600px){
	.col.s9{
		font-size: 0.7rem;
		line-height: 15px;
	}
	li{
		padding: 10px !important;
	}
}
@media screen and (max-width: 400px){
	.delete-btn{
		width: 100%;
	}
}