<body>
	<div class="container" id="contact-list-container">
		{{> loginButtons}}
		{{#if currentUser}}
			{{> searchAndAddTemplate}}		
	    {{#ifEsIsSearching index="players"}}
	      {{> spinner}}
	    {{else}}
				<ul class="collection scrollbar-macosx">
					{{#esEach index="contacts"}}
						{{> contact}}
					{{/esEach}}
				</ul>
			{{/ifEsIsSearching}}
		{{/if}}
	</div>
	<div id="contact_detail_card" class="modal">
    <div class="modal-content remove-pad">
      {{> contact_details}}
    </div>
  </div>
	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script type="text/javascript" src="js/materialize.min.js"></script>
</body>