.collection{
	background: white;
	height: 88%;
	overflow: auto;
}
#contact-list-container{
	overflow: hidden;
    height: 100%;
    padding-bottom: 1.7%;
    padding-top: 0.5%;
}
@media screen and (max-width: 600px){
	.remove-pad {
		padding: 0px !important;
	}
	.modal{
		box-shadow: none;
		background: none;
	}
	.add-pad{
		padding: 13% 25% !important;
	}
	.modal{
		width: 95%;
	}
}
.modal::-webkit-scrollbar {
    display: none;
}