<template name="contact">
  {{#if isOwner}}
  	<li class="collection-item">
  		<div class="row valign-wrapper">
        <div class="col s11" style="border-right: 1px solid #e0e0e0">
          <a class="modal-trigger" href="#contact_detail_card">
            <div class="row">
             	<div class="col s3">
                <div style="background: url({{#if image}}{{image}}{{else}}'grey_silhouette.png'{{/if}});" class="profileImage">
                </div>
             	</div>
             	<div class="col s9">
             		<span class="black-text">
        	        {{first_name}} {{last_name}}<br>
                  <span>{{phone}}</span><br>
                  {{email}}
              	</span>
            	</div>
            </div>
          </a>
        </div>
        <div class="col s2" style="text-align: center">
          <img src="trash.svg" class="delete-btn">
        </div>
    	</div>
  	</li>
  {{/if}}
</template>