<template name="contact_details">
	<div class="container" id="contact_details_container">
		<div class="row">
			<div class="col s12 m4 add-pad">
				<center>
					<div style="background: url({{#if contact.image}}{{contact.image}}{{else}}'grey_silhouette.png'{{/if}});" id="profile_image" class="profileImage">
					</div>
					<input type="file" id="profile_image_input" accept="image/*">
					<a class="waves-effect waves-light btn" id="remove-pic-button">Remove Pic</a>
					<h5>{{contact.first_name}} {{contact.last_name}}</h5>
				</center>
			</div>
			<div class="col s12 m8 remove-pad">
				<div class="card-panel" id="contact-information-card">
					<div class="row valign-wrapper">
						<div class="col s6">
							<h5 class="info">Contact Details</h5>
						</div>
						<div class="col s6 right-align">
							<a class="btn-floating"><i class="mdi-content-save"></i></a>
							<a class="btn-floating modal-close"><i class="mdi-navigation-close"></i></a>
						</div>
					</div>
					<hr>
				  <form>
				    <div class="row">
				      <div class="input-field col s12 m6">
				      	<i class="mdi-action-account-circle prefix {{#if contact.first_name.length}}active{{/if}}"></i>
				        <input id="first_name" type="text" value="{{contact.first_name}}">
				        <label for="first_name" class="{{#if contact.first_name.length}}active{{/if}}">First Name</label>
				      </div>
				      <div class="input-field col s12 m6" id="last_name_container">
				        <input id="last_name" type="text" value="{{contact.last_name}}">
				        <label for="last_name" class="{{#if contact.last_name.length}}active{{/if}}">Last Name</label>
				      </div>
				    </div>
				    <div class="row">
				      <div class="input-field col s12">
				      	<i class="mdi-communication-email prefix {{#if contact.email.length}}active{{/if}}"></i>
				        <input id="email" type="email" value="{{contact.email}}" class="validate">
				        <label for="email" class="{{#if contact.email.length}}active{{/if}}">Email</label>
				      </div>
				    </div>
				    <div class="row">
				      <div class="input-field col s12">
				      	<i class="mdi-communication-phone prefix {{#if contact.phone.length}}active{{/if}}"></i>
				        <input id="phone" type="text" value="{{contact.phone}}">
				        <label for="phone" class="{{#if contact.phone.length}}active{{/if}}">Phone</label>
				      </div>
				    </div>
				    <div class="row">
				      <div class="input-field col s12">
				      	<i class="mdi-action-home prefix {{#if contact.address.length}}active{{/if}}"></i>
				        <input id="address" type="text" value="{{contact.address}}">
				        <label for="address" class="{{#if contact.address.length}}active{{/if}}">Address</label>
				      </div>
				    </div>
				  </form>
				</div>
			</div>
		</div>
	</div>
</template>