<template name="searchAndAddTemplate">
	<div class="row valign-wrapper">
		<div class="col s10 m11">
			<div class="input-field">
	      <i class="mdi-action-search prefix"></i>
	    	{{> esInput index="contacts" placeholder="Search Contacts" allDocsOnEmpty="true"}}
	    </div>
		</div>
		<div class="col s2 m1" id="add_button_container">
			<a class="waves-effect waves-circle waves-light btn-floating modal-trigger" id="add_contact" href="#contact_detail_card">
		  	<i class="mdi-content-add"></i>
		  </a>
		</div>
	</div>
</template>