.container{
	width: 100%;
}
.row{
	margin-bottom: 0px;
}
html,body{
	height: 100%;
}
.profileImage{
	width: 100%;
	padding-top: 100%;
	border-radius: 100%;
	background-position-x: 50% !important;
	background-position-y: 50% !important;
	background-repeat: no-repeat;
	background-size: cover !important;
}